<div class="user-container col-4 mt-5 text-center">
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user-circle vertical-align-middle"></i> {{ app.user.username }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'generics.profile.show'|trans }}</a>
            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">{{ 'generics.profile.edit'|trans }}</a>
            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'navbar.logged_user.logout.title'|trans }}</a>
        </div>
    </div>
</div>