<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="https://github.com/davidcopano/storybookmarks" target="_blank"
                   title="{{ 'navbar.show_github'|trans }}">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            </li>
            <li class="nav-item ml-3">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle text-secondary" data-toggle="dropdown">
                        {{ 'navbar.lang'|trans }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('index', { '_locale': 'es' }) }}">🇪🇸 - Español</a>
                        <a class="dropdown-item" href="{{ path('index', { '_locale': 'en' }) }}">🇺🇸 - Inglés</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto text-secondary"
           href="{% if (app.request.locale == 'es') or (app.request.locale == 'en') %} {{ path('index', { '_locale': app.request.locale }) }} {% else %} {{ path('index', { '_locale': 'es' }) }} {% endif %}
">
            <h4>storybookmarks</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto" id="links-list">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#features" @click="scrollToFeatures()">{{ 'navbar.features'|trans }}</a>
            </li>
            <li class="nav-item text-secondary pl-1 pr-1">
                <span class="baseline-middle">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#contact" @click="scrollToContact()">{{ 'navbar.contact'|trans }}</a>
            </li>
            <li class="nav-item text-secondary pl-1 pr-1">
                <span class="baseline-middle">|</span>
            </li>
            {% if not app.user %}
                <li class="nav-item">
                    <a href="{{ path('fos_user_registration_register') }}" class="nav-link text-secondary">{{ 'generics.register'|trans }}</a>
                </li>
                <li class="nav-item text-secondary pl-1 pr-1">
                    <span class="baseline-middle">|</span>
                </li>
            {% endif %}
            <li class="nav-item">
                {% if app.user %}
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle text-secondary" data-toggle="dropdown">
                            <i class="fas fa-user pr-2"></i>
                            {{ app.user.username }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list-ul pr-2"></i>
                                {{ 'navbar.logged_user.my_bookmarks'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                                <i class="fas fa-user-circle pr-2"></i>
                                {{ 'navbar.logged_user.show_profile'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">
                                <i class="fas fa-user-edit pr-1"></i>
                                {{ 'navbar.logged_user.edit_profile'|trans }}
                            </a>
                            <a class="dropdown-item" href="#" @click="closeSession()">
                                <i class="fas fa-power-off pr-2"></i>
                                {{ 'navbar.logged_user.logout.title'|trans }}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-link nav-link text-secondary" href="{{ path('fos_user_security_login') }}">{{ 'navbar.login'|trans }}</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>