<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#247ba0">
        <link rel="canonical" href="https://storybookmarks.dcopano.xyz" />
        <meta name="description" content="{{ 'seo.meta.description'|trans }}" />
        <meta name="keywords" content="{{ 'seo.meta.keywords'|trans }}">
        <title>{% block title %}storybookmarks{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        <!-- vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <!-- axios -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <!-- sweet alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
