{% trans_default_domain 'FOSUserBundle' %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <h1 class="text-center text-primary">
                        <a href="{{ path('root') }}">storybookmarks</a>
                    </h1>
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'layout.register'|trans }}</h4>
                        {{ form_start(form) }}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger alert-dismissible fade show register-errors">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="fas fa-times"></i>
                                </button>
                                {{ form_errors(form.email) }}
                                {{ form_errors(form.username) }}
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form_label(form.email, 'form.email'|trans) }}
                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.username, 'form.username'|trans) }}
                            {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, 'form.password'|trans) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control' } }) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, 'form.password_confirmation'|trans) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control' } }) }}
                        </div>

                        <div class="custom-control custom-checkbox mt-4 mb-3">
                            <input type="checkbox" class="custom-control-input" id="agree" name="agree" value="on"/>
                            <label class="custom-control-label" for="agree">I accept the Terms</label>
                        </div>

                        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-block"/>

                        <div class="margin-top20 text-center">
                            {{ 'layout.have_account'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="footer">
                    <span class="copyleft">&copy;</span> {{ 'now'|date('Y') }} - storybookmarks
                </div>
            </div>
        </div>
    </div>
</section>
