{% extends '::base.html.twig' %}

{% block body_class %}index{% endblock %}

{% block body %}
    <header class="row slogan-container">
        <div class="col-md-6 text-md-right text-sm-left align-self-center slogan">
            <h1>{{ 'index.slogan'|trans }}</h1>
            <h2>{{ 'index.slogan_helper'|trans }}</h2>
        </div>
        <div class="col-md-6 align-self-center text-md-left text-sm-center">
            <img src="{{ asset('images/laptop.png') }}" alt="{{ 'index.alt_img1'|trans }}" class="img-fluid w-50 p-2">
            <img src="{{ asset('images/phone.png') }}" alt="{{ 'index.alt_img2'|trans }}" class="img-fluid w-25 p-2">
        </div>
    </header>
{% endblock %}