{% extends '::base.html.twig' %}

{% block body_class %}index{% endblock %}

{% block body %}
    <header class="row mt-5 slogan-container">
        <div class="col-md-6 text-md-right text-sm-left align-self-center slogan">
            <h1>{{ 'index.slogan'|trans }}</h1>
            <h2>{{ 'index.slogan_helper'|trans }}</h2>
        </div>
        <div class="images-container col-md-6 align-self-center text-md-left text-sm-center">
            <img src="{{ asset('images/laptop.png') }}" alt="{{ 'index.alt_img1'|trans }}" class="img-fluid w-50 p-2">
            <img src="{{ asset('images/phone.png') }}" alt="{{ 'index.alt_img2'|trans }}" class="img-fluid w-25 p-2">
        </div>
    </header>
    <!-- features -->
    <div id="features" class="container">
        <hr>
        <h1 class="text-center mt-5 mb-5">{{ 'index.features.title'|trans }}</h1>
        <div class="row security">
            <div class="col-md-6">
                <img src="{{ asset('images/features/security.svg') }}" alt="{{ 'index.features.security.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.security.title'|trans }}</h2>
                <p>{{ 'index.features.security.text'|trans }}</p>
            </div>
        </div>
        <div class="row easy-use text-right">
            <div class="col-md-6 offset-md-6">
                <img src="{{ asset('images/features/easy_use.svg') }}" alt="{{ 'index.features.easy_use.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.easy_use.title'|trans }}</h2>
                <p>{{ 'index.features.easy_use.text'|trans }}</p>
            </div>
        </div>
        <div class="row share-bookmarks">
            <div class="col-md-6">
                <img src="{{ asset('images/features/share.svg') }}" alt="{{ 'index.features.share_bookmarks.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.share_bookmarks.title'|trans }}</h2>
                <p>{{ 'index.features.share_bookmarks.text'|trans }}</p>
            </div>
        </div>
        <div class="row open-source text-right">
            <div class="col-md-6 offset-md-6">
                <img src="{{ asset('images/features/open_source.svg') }}" alt="{{ 'index.features.open_source.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.open_source.title'|trans }}</h2>
                <p>{{ 'index.features.open_source.text'|trans }}</p>
            </div>
        </div>
    </div>
    <!-- contact form -->
    <div id="contact">
        <div class="container">
            <hr>
            <h1 class="text-center mt-5 mb-5">{{ 'index.features.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}