{% extends '::base.html.twig' %}

{% block body_class %}index{% endblock %}

{% block body %}
    {{ include('::_navbar.html.twig') }}
    <header class="row mt-5 slogan-container">
        {% for message in app.flashes('error') %}
            <div class="container mt-5">
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fas fa-times"></i>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6 text-md-right text-sm-left align-self-center slogan">
            <h1>{{ 'index.slogan'|trans }}</h1>
            <h2>{{ 'index.slogan_helper'|trans }}</h2>
        </div>
        <div class="images-container col-md-6 align-self-center text-md-left text-sm-center">
            <img src="{{ asset('images/laptop.png') }}" alt="{{ 'index.alt_img1'|trans }}" title="{{ 'index.alt_img1'|trans }}" class="img-fluid w-50 p-2">
            <img src="{{ asset('images/phone.png') }}" alt="{{ 'index.alt_img2'|trans }}" title="{{ 'index.alt_img2'|trans }}" class="img-fluid w-25 p-2">
        </div>
    </header>
    <!-- features -->
    <div id="features" class="container">
        <hr>
        <h1 class="text-center mt-5 mb-5">{{ 'index.features.title'|trans }}</h1>
        <div class="row security">
            <div class="col-md-6">
                <img src="{{ asset('images/features/security.svg') }}"
                     alt="{{ 'index.features.security.title'|trans }}" title="{{ 'index.features.security.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.security.title'|trans }}</h2>
                <p>{{ 'index.features.security.text'|trans }}</p>
            </div>
        </div>
        <div class="row easy-use text-right">
            <div class="col-md-6 offset-md-6">
                <img src="{{ asset('images/features/easy_use.svg') }}"
                     alt="{{ 'index.features.easy_use.title'|trans }}" title="{{ 'index.features.easy_use.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.easy_use.title'|trans }}</h2>
                <p>{{ 'index.features.easy_use.text'|trans }}</p>
            </div>
        </div>
        <div class="row share-bookmarks">
            <div class="col-md-6">
                <img src="{{ asset('images/features/share.svg') }}"
                     alt="{{ 'index.features.share_bookmarks.title'|trans }}" title="{{ 'index.features.share_bookmarks.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.share_bookmarks.title'|trans }}</h2>
                <p>{{ 'index.features.share_bookmarks.text'|trans }}</p>
            </div>
        </div>
        <div class="row open-source text-right">
            <div class="col-md-6 offset-md-6">
                <img src="{{ asset('images/features/open_source.svg') }}"
                     alt="{{ 'index.features.open_source.title'|trans }}" title="{{ 'index.features.open_source.title'|trans }}">
                <h2 class="mt-3 mb-3">{{ 'index.features.open_source.title'|trans }}</h2>
                <p>{{ 'index.features.open_source.text'|trans }}</p>
            </div>
        </div>
    </div>
    <!-- contact form -->
    <div id="contact" class="bg-primary text-white pb-5">
        <div class="container">
            <hr>
            <h1 class="text-center mt-5 mb-3">{{ 'index.contact.title'|trans }}</h1>
            <p class="text-center">{{ 'index.contact.text'|trans }}</p>
            <form id="contact-form" @submit="sendForm">
                <div class="form-group">
                    <input type="email" name="email" required class="form-control"
                           placeholder="{{ 'index.contact.form.email'|trans }}" v-model="email"/>
                    <p class="text-danger" v-if="email === ''">{{ 'index.contact.form.errors.email'|trans }}</p>
                </div>
                <div class="form-group">
                    <input type="text" name="subject" required class="form-control"
                           placeholder="{{ 'index.contact.form.subject'|trans }}" v-model="subject"/>
                    <p class="text-danger" v-if="subject === ''">{{ 'index.contact.form.errors.subject'|trans }}</p>
                </div>
                <div class="form-group">
                    <textarea name="description" id="description" cols="30" rows="10" required class="form-control"
                              placeholder="{{ 'index.contact.form.description'|trans }}"
                              v-model="description"></textarea>
                    <p class="text-danger"
                       v-if="description === ''">{{ 'index.contact.form.errors.description'|trans }}</p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" :disabled="isSending">{{ 'generics.send'|trans }} <i
                                class="fas fa-circle-notch fa-spin ml-1" v-if="isSending"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- footer -->
    <footer class="m-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>storybookmarks</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="text-right">{{ 'now'|date('Y') }} <span class="copyleft">&copy;</span></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        const contactForm = new Vue({
            el: '#contact-form',
            data: {
                email: undefined,
                subject: undefined,
                description: undefined,
                isSending: false
            },
            methods: {
                sendForm: function (e) {
                    e.preventDefault();
                    this.isSending = true;

                    let formData = new FormData();
                    formData.append('email', this.email);
                    formData.append('subject', this.subject);
                    formData.append('description', this.description);

                    axios.post('{{ path('index.send_form') }}', formData).then(response => {
                        this.isSending = false;
                        console.log(response.data);

                        swal({
                            type: 'success',
                            title: '{{ 'index.contact.form.success.title'|trans }}'
                        });
                    }).catch(error => {
                        this.isSending = false;
                        swal({
                            type: 'error',
                            title: '{{ 'index.contact.form.errors.sent_form.title'|trans }}',
                            text: '{{ 'index.contact.form.errors.sent_form.text'|trans }}',
                            animation: false,
                            customClass: 'animated shake'
                        });
                    })
                }
            }
        });

        let $userDropdown = document.getElementById('user-dropdown');
        if($userDropdown) {
            const userDropdown = new Vue({
                el: '#user-dropdown',
                methods: {
                    closeSession: function () {
                        swal({
                            title: '{{ 'navbar.logged_user.logout.title'|trans }}',
                            text: '{{ 'navbar.logged_user.logout.text'|trans }}',
                            type: 'warning',
                            showCancelButton: true,
                            cancelButtonText: '{{ 'navbar.logged_user.logout.cancel'|trans }}',
                            cancelButtonColor: '#247ba0',
                            confirmButtonColor: '#ff1654',
                            confirmButtonText: '{{ 'navbar.logged_user.logout.title'|trans }}'
                        }).then((result) => {
                            if (result.value) {
                                location.replace('{{ path('fos_user_security_logout') }}')
                            }
                        })
                    }
                }
            })
        }

        const linksList = new Vue({
            el: '#links-list',
            methods: {
                scrollToFeatures: function () {
                    smoothScroll('features');
                },
                scrollToContact: function () {
                    smoothScroll('contact');
                },
                closeSession: function () {
                    swal({
                        title: '{{ 'navbar.logged_user.logout.title'|trans }}',
                        text: '{{ 'navbar.logged_user.logout.text'|trans }}',
                        type: 'warning',
                        showCancelButton: true,
                        cancelButtonText: '{{ 'navbar.logged_user.logout.cancel'|trans }}',
                        cancelButtonColor: '#247ba0',
                        confirmButtonColor: '#ff1654',
                        confirmButtonText: '{{ 'navbar.logged_user.logout.title'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace('{{ path('fos_user_security_logout') }}')
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}