{% trans_default_domain 'FOSUserBundle' %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="http://via.placeholder.com/350x150">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'layout.login'|trans }}</h4>
                        <form method="POST" action="{{ path("fos_user_security_check") }}">
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            {% endif %}
                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input id="username" type="text" class="form-control" name="_username"
                                       value="{{ last_username }}" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input id="password" type="password" class="form-control" name="_password" required data-eye>
                                <a href="#" class="float-right pt-2">{{ 'change_password.submit'|trans }}</a>
                            </div>

                            <div class="custom-control custom-checkbox mt-3 mb-3">
                                <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on" />
                                <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>

                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">{{ 'layout.login'|trans }}</button>
                            </div>
                            <div class="margin-top20 text-center">
                                {{ 'layout.dont_have_account'|trans }} <a href="#">{{ 'layout.register'|trans }}</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    <span class="copyleft">&copy;</span> {{ 'now'|date('Y') }} - storybookmarks
                </div>
            </div>
        </div>
    </div>
</section>
