{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.folders'|trans }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="container">
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fas fa-times"></i>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <h1 class="ml-3">{{ 'menu.items.folders'|trans }}</h1>
        {% if folders|length > 0 %}
            <div class="row container folders-container mt-4">
                {% for folder in folders %}
                    <div class="card col-md-4 mr-3"
                         {% if folder.color is not null %}style="border: 1px solid {{ folder.color }}"{% endif %}>
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fas fa-folder pr-2" {% if folder.color is not null %}style="color: {{ folder.color }}"{% endif %}></i>
                                {{ folder.name }}
                                <a href="#" class="float-right ml-3 delete-folder" style="color: red" data-id="{{ folder.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="{{ path('folders_edit', {'id': folder.id}) }}" class="float-right" {% if folder.color is not null %}style="color: {{ folder.color }}"{% endif %}>
                                    <i class="fas fa-edit"></i>
                                </a>
                            </h4>
                            <p class="card-text">
                                {% if folder.bookmarks|length > 0 %}
                                    {{ 'folders.bookmarks_length'|trans({ '%bookmark_length%': folder.bookmarks|length }) }}
                                {% else %}
                                    {{ 'folders.no_bookmarks'|trans }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center mt-4">{{ 'folders.without'|trans }}</h3>
        {% endif %}
    </div>
    <script>
        window.onload = () => {
            const deleteFolders = document.querySelectorAll('.delete-folder');
            for(let df of deleteFolders) {
                df.addEventListener('click', function () {
                    let path = '{{ url('folders_delete', {'id': 'folder_id'}) }}';
                    path = path.replace('folder_id', this.dataset.id);

                    swal({
                        title: '{{ 'bookmarks.delete_alert.title'|trans }}',
                        text: '{{ 'bookmarks.delete_alert.text'|trans }}',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ff1654',
                        cancelButtonColor: '#247ba0',
                        cancelButtonText: '{{ 'bookmarks.delete_alert.cancel'|trans }}',
                        confirmButtonText: '{{ 'bookmarks.delete_alert.confirm'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace(path);
                        }
                    })
                })
            }
        };
    </script>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            const searchContainer = new Vue({
                el: '#search-container',
                delimiters: ['[[', ']]'],
                data: {
                    query: undefined,
                    bookmarks: [],
                    folders: [],
                    tags: []
                },
                methods: {
                    getQueryResults: function () {
                        if (this.query) {
                            axios.get('{{ url('search_index') }}' + '?query=' + this.query)
                                .then(result => {
                                    let json = result.data;
                                    this.bookmarks = json.bookmarks;
                                    this.folders = json.folders;
                                    this.tags = json.tags;
                                })
                        }
                        else {
                            this.bookmarks = [];
                            this.folders = [];
                            this.tags = [];
                        }
                    }
                }
            });
        };
    </script>
{% endblock %}