{% extends '::base.html.twig' %}

{% block html_class %}folders-list{% endblock %}

{% block title %}storybookmarks - {{ 'menu.items.folders'|trans }}{% endblock %}

{% block body_class %}folders-list{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="container">
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fas fa-times"></i>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <h1 class="ml-3">{{ 'menu.items.folders'|trans }}</h1>
        {% if folders|length > 0 %}
            <div class="row container folders-container mt-4">
                {% for folder in folders %}
                    <div class="card col-md-4 mr-3 mt-3"
                         {% if folder.color is not null %}style="border: 1px solid {{ folder.color }}"{% endif %}>
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="fas fa-folder pr-2" {% if folder.color is not null %}style="color: {{ folder.color }}"{% endif %}></i>
                                {{ folder.name }}
                                <a href="#" class="float-right ml-3 delete-folder" style="color: red" data-id="{{ folder.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="{{ path('folders_edit', {'id': folder.id}) }}" class="float-right" {% if folder.color is not null %}style="color: {{ folder.color }}"{% endif %}>
                                    <i class="fas fa-edit"></i>
                                </a>
                            </h4>
                            <p class="card-text">
                                {% if folder.bookmarks|length > 0 %}
                                    {{ 'folders.bookmarks_length'|trans({ '%bookmark_length%': folder.bookmarks|length }) }}
                                {% else %}
                                    {{ 'folders.no_bookmarks'|trans }}
                                {% endif %}
                            </p>
                            {% if folder.bookmarks|length > 0 %}
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-outline-primary float-right rounded-circle pt-2 pb-2" data-toggle="modal" data-target="#folder-modal-{{ folder.id }}">
                                    <i class="far fa-eye"></i>
                                </button>

                                <!-- The Modal -->
                                <div class="modal" id="folder-modal-{{ folder.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{ folder.name }}</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                {% for bookmark in folder.bookmarks %}
                                                    <div class="card mt-2"
                                                         {% if bookmark.color is not null %}style="border: 1px solid {{ bookmark.color }}"{% endif %}>
                                                        <div class="card-body">
                                                            <h3 class="card-title">
                                                                {{ bookmark.title }}
                                                                <span class="float-right text-muted bookmark-date">
                                                                    {% if app.request.locale == 'es' %}
                                                                        {{ bookmark.createdAt | date('d/m/Y, H:i') }}
                                                                    {% else %}
                                                                        {{ bookmark.createdAt | date('Y-m-d, H:i') }}
                                                                    {% endif %}
                                                                </span>
                                                            </h3>
                                                            {% if bookmark.note is not null %}
                                                                <p class="card-text">{{ bookmark.note }}</p>
                                                            {% endif %}
                                                            <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
                                                            <div class="buttons-container mt-3">
                                                                <a href="{{ path('bookmarks_edit', {'id': bookmark.id}) }}"
                                                                   class="float-right edit-bookmark ml-3" data-id="{{ bookmark.id }}">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                                {% if bookmark.checkValidPublic %}
                                                                    <a href="#" class="float-right bookmark-public" data-toggle="tooltip"
                                                                       title="{{ 'bookmarks.public'|trans }}" data-id="{{ bookmark.id }}">
                                                                        <i class="fas fa-lock-open"></i>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                            {% if app.user.enableMultimedia %}
                                                                {% if bookmark.isUrl_aImage %}
                                                                    <img class="img-fluid img-thumbnail mt-3" src="{{ bookmark.url }}"
                                                                         alt="{{ bookmark.title }} - storybookmarks"/>
                                                                {% endif %}
                                                                {% if bookmark.isUrl_aVideo %}
                                                                    <div class="text-center">
                                                                        <video class="mt-3" controls>
                                                                            <source src="{{ bookmark.url }}">
                                                                        </video>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'generics.close'|trans }}</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center mt-4">{{ 'folders.without'|trans }}</h3>
        {% endif %}
    </div>
    <script>
        window.onload = () => {
            const deleteFolders = document.querySelectorAll('.delete-folder');
            for(let df of deleteFolders) {
                df.addEventListener('click', function (e) {
                    e.preventDefault();
                    let path = '{{ url('folders_delete', {'id': 'folder_id'}) }}';
                    path = path.replace('folder_id', this.dataset.id);

                    Swal.fire({
                        title: '{{ 'bookmarks.delete_alert.title'|trans }}',
                        text: '{{ 'bookmarks.delete_alert.text'|trans }}',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ff1654',
                        cancelButtonColor: '#247ba0',
                        cancelButtonText: '{{ 'bookmarks.delete_alert.cancel'|trans }}',
                        confirmButtonText: '{{ 'bookmarks.delete_alert.confirm'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace(path);
                        }
                    })
                })
            }

            const searchContainer = new Vue({
                el: '#search-container',
                delimiters: ['[[', ']]'],
                data: {
                    query: undefined,
                    bookmarks: [],
                    folders: [],
                    tags: []
                },
                methods: {
                    getQueryResults: function () {
                        if (this.query) {
                            axios.get('{{ url('search_index') }}' + '?query=' + this.query)
                                .then(result => {
                                    let json = result.data;
                                    this.bookmarks = json.bookmarks;
                                    this.folders = json.folders;
                                    this.tags = json.tags;
                                })
                        }
                        else {
                            this.bookmarks = [];
                            this.folders = [];
                            this.tags = [];
                        }
                    }
                }
            });
        };
    </script>
{% endblock %}