{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fas fa-times"></i>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="ml-3">{{ 'menu.items.bookmarks'|trans }}</h1>
        <div class="row container bookmarks-container mt-4">
            {% for bookmark in bookmarks %}
                <div class="card col-md-4" {% if bookmark.color is not null %}style="border: 1px solid {{ bookmark.color }}"{% endif %}>
                    <div class="card-body">
                        <h4 class="card-title">{{ bookmark.title }} <a href="http://google.com" class="float-right" title="{{ 'bookmarks.show_details'|trans }}"><i class="far fa-eye"></i></a></h4>
                        <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}