{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fas fa-times"></i>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <h1>bookmarks - desde twig</h1>
    </div>
{% endblock %}