{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body_class %}bookmark-list{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="container">
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="fas fa-times"></i>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <h1 class="ml-3">{{ 'menu.items.bookmarks'|trans }}</h1>
        <p class="ml-3 mt-3"><u>{{ 'bookmarks.help.note'|trans }}</u>: {{ 'bookmarks.help.text'|trans }}</p>
        {% if bookmarks|length > 0 %}
            <div class="row container bookmarks-container mt-4">
                {% for bookmark in bookmarks %}
                    <div class="card col-md-5 mt-3 offset-1"
                         {% if bookmark.color is not null %}style="border: 1px solid {{ bookmark.color }}"{% endif %}>
                        <div class="card-body">
                            <h3 class="card-title">
                                {{ bookmark.title }}
                            </h3>
                            {% if bookmark.note is not null %}
                                <p class="card-text">{{ bookmark.note }}</p>
                            {% endif %}
                            <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
                            <a href="#" class="float-right delete-bookmark ml-3" data-toggle="tooltip" title="{{ 'bookmarks.delete'|trans }}" data-id="{{ bookmark.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            {% if bookmark.checkValidPublic %}
                                <a href="#" class="float-right bookmark-public" data-toggle="tooltip"
                                   title="{{ 'bookmarks.public'|trans }}" data-id="{{ bookmark.id }}">
                                    <i class="fas fa-lock-open"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center mt-4">{{ 'bookmarks.without'|trans }}</h3>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            const bookmarkPublic = document.querySelectorAll('.bookmark-public');
            for (let bp of bookmarkPublic) {
                bp.addEventListener('click', function () {
                    let path = '{{ url('bookmarks_public', {'id': 'article_id'}) }}';
                    path = path.replace('article_id', this.dataset.id);
                    copyToClipboard(path);
                    let title = '{{ 'bookmarks.copied'|trans }}';
                    $(this).attr('data-original-title', title)
                        .tooltip('show');
                });
            }

            $(bookmarkPublic).on('hidden.bs.tooltip', function () {
                $(this).attr('data-original-title', '{{ 'bookmarks.public'|trans }}');
            });

            const deleteBookmarks = document.querySelectorAll('.delete-bookmark');
            for(let db of deleteBookmarks) {
                db.addEventListener('click', function () {
                    let path = '{{ url('bookmarks_delete', {'id': 'bookmark_id'}) }}';
                    path = path.replace('bookmark_id', this.dataset.id);

                    swal({
                        title: '{{ 'bookmarks.delete_alert.title'|trans }}',
                        text: '{{ 'bookmarks.delete_alert.text'|trans }}',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ff1654',
                        cancelButtonColor: '#247ba0',
                        cancelButtonText: '{{ 'bookmarks.delete_alert.cancel'|trans }}',
                        confirmButtonText: '{{ 'bookmarks.delete_alert.confirm'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace(path);
                        }
                    })
                })
            }
        };
    </script>
{% endblock %}