{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ 'menu.items.bookmarks'|trans }}{% endblock %}

{% block body_class %}bookmark-new{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        <h1 class="text-center">{{ 'new_bookmark.text'|trans }}</h1>
        <div class="form-container container">
            {{ form_start(form, { 'attr': { 'id': 'new-bookmark-form' } }) }}
            <div class="form-group">
                {{ form_label(form.title, 'new_bookmark.fields.title'|trans) }}
                {{ form_widget(form.title, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.url, 'new_bookmark.fields.url'|trans) }}
                {{ form_widget(form.url, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.color, 'new_bookmark.fields.color'|trans) }}
                {{ form_widget(form.color, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.note, 'new_bookmark.fields.note'|trans) }}
                {{ form_widget(form.note, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.tag, 'new_bookmark.fields.tags'|trans) }}
                {{ form_widget(form.tag, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.folder, 'new_bookmark.fields.folder'|trans) }}
                {{ form_widget(form.folder, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.public, { 'attr': { 'class': 'switch vertical-align-middle mr-2' } }) }}
                {{ form_label(form.public, 'new_bookmark.fields.public'|trans, { 'attr': { 'class': 'form-check-label' } }) }}
            </div>
            <div class="expiration-date form-group d-none">
                {{ form_label(form.expirationDate, 'new_bookmark.fields.exp_date'|trans) }}
                {{ form_widget(form.expirationDate) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">{{ 'generics.save'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        window.onload = () => {
            const publicBookmark = document.querySelector('#new-bookmark-form input[type="checkbox"]');
            if(publicBookmark.checked) {
                showExpirationDate();
            }
            publicBookmark.addEventListener('change', (event) => {
                let isChecked = event.target.checked;

                if(isChecked) {
                    showExpirationDate();
                }
                else {
                    hideExpirationDate();
                }
            })
        };

        function showExpirationDate() {
            const expirationDate = document.querySelector('.expiration-date');
            if(expirationDate.classList.contains('d-none')) {
                expirationDate.classList.remove('d-none');
            }
        }

        function hideExpirationDate() {
            const expirationDate = document.querySelector('.expiration-date');
            if(!expirationDate.classList.contains('d-none')) {
                expirationDate.classList.add('d-none');
            }
        }
    </script>
{% endblock %}