{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ tag.title }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        <h1 class="text-center">{{ 'new_tag.text'|trans }}</h1>
        <div class="form-container container pb-5">
            {{ form_start(form, { 'attr': { 'id': 'edit-tag-form' } }) }}
            <div class="form-group">
                {{ form_label(form.title, 'new_folder.fields.name'|trans) }}
                {{ form_widget(form.title, { 'attr': { 'class': 'form-control' }, 'value': tag.title }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.color, 'new_folder.fields.color'|trans) }}
                {{ form_widget(form.color, { 'attr': { 'class': 'form-control jscolor' } }) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">{{ 'generics.save'|trans }}</button>
                <a href="#" data-id="{{ tag.id }}" class="btn btn-danger float-right delete-tag">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script src="{{ asset('jscolor.js') }}"></script>
    <script>
        window.onload = () => {
            const deleteTag = document.querySelectorAll('.delete-tag');
            for(let dt of deleteTag) {
                dt.addEventListener('click', function (e) {
                    e.preventDefault();
                    let path = '{{ url('tags_delete', {'id': 'tag_id'}) }}';
                    path = path.replace('tag_id', this.dataset.id);

                    Swal.fire({
                        title: '{{ 'bookmarks.delete_alert.title'|trans }}',
                        text: '{{ 'bookmarks.delete_alert.text'|trans }}',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ff1654',
                        cancelButtonColor: '#247ba0',
                        cancelButtonText: '{{ 'bookmarks.delete_alert.cancel'|trans }}',
                        confirmButtonText: '{{ 'bookmarks.delete_alert.confirm'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace(path);
                        }
                    })
                })
            }

            const searchContainer = new Vue({
                el: '#search-container',
                delimiters: ['[[', ']]'],
                data: {
                    query: undefined,
                    bookmarks: [],
                    folders: [],
                    tags: []
                },
                methods: {
                    getQueryResults: function () {
                        if (this.query) {
                            axios.get('{{ url('search_index') }}' + '?query=' + this.query)
                                .then(result => {
                                    let json = result.data;
                                    this.bookmarks = json.bookmarks;
                                    this.folders = json.folders;
                                    this.tags = json.tags;
                                })
                        }
                        else {
                            this.bookmarks = [];
                            this.folders = [];
                            this.tags = [];
                        }
                    }
                }
            });
            const newBookmarkForm = document.getElementById('edit-tag-form');
            newBookmarkForm.addEventListener('submit', () => {
                document.getElementById('mainbundle_tag_color').value = '#' + document.getElementById('mainbundle_tag_color').value;
            })
        };
    </script>
{% endblock %}