{% extends '::base.html.twig' %}

{% block title %}storybookmarks - {{ tag.title }}{% endblock %}

{% block body %}
    {{ knp_menu_render('MainBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
    <div class="main">
        <div class="row">
            {{ include('MainBundle:Search:search.list.twig') }}
            {{ include('MainBundle:UserDropdown:user.html.twig') }}
        </div>
        <h1 class="text-center">{{ 'new_tag.text'|trans }}</h1>
        <div class="form-container container">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title, 'new_folder.fields.name'|trans) }}
                {{ form_widget(form.title, { 'attr': { 'class': 'form-control' }, 'value': tag.title }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.color, 'new_folder.fields.color'|trans) }}
                {{ form_widget(form.color, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">{{ 'generics.save'|trans }}</button>
                <a href="#" data-id="{{ tag.id }}" class="btn btn-danger float-right delete-tag">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        window.onload = () => {
            const deleteTag = document.querySelectorAll('.delete-tag');
            for(let dt of deleteTag) {
                dt.addEventListener('click', function () {
                    let path = '{{ url('tags_delete', {'id': 'tag_id'}) }}';
                    path = path.replace('tag_id', this.dataset.id);

                    swal({
                        title: '{{ 'bookmarks.delete_alert.title'|trans }}',
                        text: '{{ 'bookmarks.delete_alert.text'|trans }}',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ff1654',
                        cancelButtonColor: '#247ba0',
                        cancelButtonText: '{{ 'bookmarks.delete_alert.cancel'|trans }}',
                        confirmButtonText: '{{ 'bookmarks.delete_alert.confirm'|trans }}'
                    }).then((result) => {
                        if (result.value) {
                            location.replace(path);
                        }
                    })
                })
            }
        };
    </script>
{% endblock %}